.root {
    -fx-background-color: white;

}

.large-label{
    -fx-text-fill: #424242;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}


.app-header {
    -fx-background-color: #212121;
}

.app-header:pressed{
    -fx-cursor: move;
}

.header-label {
    -fx-text-fill: #424242;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text_label {
    -fx-text-fill: #424242;
    -fx-font-size: 12px;
}

.app-exit-btn{
    -fx-background-color: red;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    }

.app-exit-btn:hover {
    -fx-background-color: #ef5350;
}

.close-icon{
    -fx-icon-color: white;
}


.field_lbl {
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-text-fill: #000000;
    }

.field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-padding: 5px 5px;
    -fx-border-color: #757575;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    }

.field:focused {
    -fx-border-color: dodgerblue;
    -fx-border-width: 2px;
    }

.primary-button {
    -fx-background-color: dodgerblue;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 5px;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    }

.secondary-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 5px;
    -fx-border-color: dodgerblue;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    }

.small_click_label {
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
    }

.small_click_label:hover {
    -fx-underline: true;
    }

.primary-container{
    -fx-background-color: white;
    -fx-border-color: dodgerblue;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 2;
}

.secondary-container {
    -fx-background-color: #b3e5fc;
    -fx-text-fill: #424242;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.dark-border {
    -fx-border-color: #e0e0e0;
}

.blue-border {
    -fx-border-color: dodgerblue;
}

.grey-background {
    -fx-background-color: #eeeeee;
}

.card {
    -fx-background-color: #eeeeee;
    -fx-border-color: dodgerblue;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 2;
}

.dark-text {
    -fx-text-fill: #424242;
}
